<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <router id="admin">
        <route id="autoinvoice" frontName="autoinvoice">
            <module name="Magenuts_AutoInvoice" before="Magento_Adminhtml"/>
        </route>
    </router>
</config>
